name: Update README

on:
  push:
    paths: ['KLE.cs']

jobs:
  update:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Replace code in README
        run: |
          sed -i '/<!-- CODE_START -->/,/<!-- CODE_END -->/{//!d}' README.md
          sed -i '/<!-- CODE_START -->/r KLE.cs' README.md
          
      - name: Commit changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add README.md
          git commit -m "Update code in README" || echo "No changes to commit"
          git push
